---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <title>Dongwei Jiang</title>
    {% include head.html %}
    {% include head/custom.html %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Dongwei Jiang",
        "url": "https://jiangdongwei.com/"
    }
    </script>
    {% seo %}
    {% include google-analytics.html %}

  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
<iframe width="600" height="450" src="https://lookerstudio.google.com/embed/reporting/7ca6ab0a-2bd5-4560-a962-036626f63df1/page/XoWAE" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
  </body>
</html>
