---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Dongwei Jiang",
        "url": "https://www.jiangdongwei.com/",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://www.jiangdongwei.com/search/?q={search_term_string}",
          "query-input": "required name=search_term_string"
        }
    }
    </script>
    {% seo %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
